.Rproj.user
.Rhistory
.RData
.Ruserdata
.xlsx
BOX_transitions.docx
Revised mid-section_DB.docx
Ungulates ms DRAFT COMPLETE TEXT ENDNOTE v.2  15.01.19.docx
Ungulates ms DRAFT_DB.docx
Ungulates ms DRAFT_DB2.docx
Ungulates ms DRAFT_DBGAPJCC.docx
