Supplementary Information 1 TRENDS.docx
Supplementary Information 2.docx
Supplementary Information 3.docx
Supplementary Information 4.docx
Supplementary Information 5.docx
Supplementary Information 6.docx
Table 1 Ungulate transmission v.12 06.03.19.xlsx
Table 1 Ungulate transmission v.13 26.03.19.xlsx
